/* Tab container for switching between userWeather and searchWeather */
.tab-container {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Reduced margin-bottom */
  border-radius: 8px;
  padding: 10px; /* Reduced padding */
}

/* Weather container */
.weather-container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 300px;
  height: 300px;
  font-size: 28px;
  padding: 20px ;
  }

/* Location and grant access style */
.grant-location-container img {
  width: 100px;
  height: 100px;
  margin: 5px; 
}

.grant-location-container p {
  font-size: 28px;
  margin: 10px  ;
}

.grant-location-container .btn {
  font-size: 18px;
  padding: 10px 20px;
  background-color: #d6181e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Loading animation */
.loading-container p {
  font-size: 12px;
  margin: 0; /* Remove any margin to reduce space */
}

p,h2 {
  margin-top: 0;
  margin-bottom: 0; 
  padding: 5px; 
}

/* User weather information */
.user-info-container .name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-info-container .name img {
  width: 24px;
  height: 18px;
  margin-right: 5px; /* Reduced margin-right */
}

.user-info-container p {
  font-size: 28px;
}

.user-info-container img {
  width: 90px;
  margin: 0;
}

/* Parameter container for wind, humidity, cloud */
.parameter-container {
  display: flex;
  justify-content: space-around;
  margin-top: 5px; /* Reduced margin-top */
}

.parameter {
  text-align: center;
  font-size: 28px;
}

.parameter img {
  width: 30px;
  margin: 1px;
}

.parameter p {
  margin: 1px;
  font-size: 18px;
}

.form-container .btn {
  padding: 5px 8px;
  background-color: #d6181e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

.form-container img {
  width: 20px;
}
